/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';

@import 'bootstrap/scss/bootstrap';
@import "admin-lte/dist/css/adminlte.min.css";
@import "./oyatsus.scss";
@import "./ensokus.scss";


.main-wrapper {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.main-bg {
  position: relative;
  background-size: cover;
  min-height: 100vh;
}

.main-bg:before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.main-bg-img {
  background-image: image-url("top.jpg");
}

.main-inner-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 10vh;
}

.center-and-white {
  text-align: center;
  color: white;
}

// ヘッダー要素
.header {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

  // navbarの背景色を変更
  .navbar-dark{
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  }
}
.navbar-expand-lg .navbar-collapse {
    justify-content: right;
}

.register {
  display: block;
  border: 1px solid white;
  padding: 10px;
}

.okozukai{
  color: $light;
}

// フッター要素
.footer {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  width: 100%;
}

// _reboot.scssに対処できないため!importantで指定
a {
  text-decoration: none!important;
}


.notification {
  text-align: left;
}

.alert {
  display: relative;
  margin-top: 80px;
  margin-bottom: 0px!important;
  text-align: center;
}

.form-box {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-box .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
}

.form-box .form-control:focus {
  z-index: 2;
}

.form-box input[type="email"] {
  margin-bottom: -1px;
}

.form-box input[type="password"] {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

h3 .h3 {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  display: inline-block;
  color: $black;
}
