/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//@import "~bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.oyatsu_tooltip{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.oyatsu_tooltip p{
    margin:0;
    padding:0;
}
.oyatsu_description {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
}

.oyatsu_tooltip:hover .oyatsu_description{
    display: inline-block;
    top: 50px;
    left: 50px;
}
