// Place all the styles related to the oyatsus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.oyatsus-bg {
  position: relative;
  background-size: cover;
  padding-top: 10vh;
  min-height: 100vh;
}

.oyatsus-bg:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
}

.card-wrapper {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: flex;
}

.card-img-style {
  height: 150px;
  width: auto;
}

.card-result-style {
  height: auto;
  width: auto;
}

.card-body-style {
  flex-direction: column;
}

.card-title {
  flex-grow: 1;
}

.card-price {
  flex-grow: 1;
}

.list-group-item {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

// ボタン
.btn.btn-outline-dark {
  color: #ff5858;
  border-color: #ff5858;
}

.btn.btn-outline-dark:hover {
  background-color: #f09819;
  border-color: white;
}

.btn-outline-dark:active {
  background-color: #ff5858!important;
  border-color: #ff5858!important;
}

.btn-outline-dark:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 88, 88, 0.5)!important;
}

// ページネーション
.pagination {
  justify-content: center;
}

.page-item .page-link {
  color: #ff5858;
}

.page-item .page-link:hover {
  color: #f09819;
}
.page-item.active .page-link {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: white;
  border-color: white!important;
}
